html, body {
  margin: 0;
  padding: 0;
  background: transparent;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

body {
  margin: 80px 0; }
  .heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 55px;
  font-weight: bold;
  margin: 0 10%;
  display: block;
  float: left;

}

.container1 {
  width: 600px;
  margin: 1% auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}
.scores-container {
  float: right;
  text-align: right;
}

.score-container, .best-container {
  min-width: 90px;
  width: 90px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 0;
  font-size: 25px;
  height: 55px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
  content: "Сложность"; }

.best-container:after {
  content: "Лучшая"; }

@media screen and (max-width: 1000px) {
  div.column {
    width: 100% !important;
    overflow: hidden;
    height: auto; } }
div.stats {
  width: 550px;
  height: 150px;
  margin: 0 auto 0;
  box-sizing: border-box;
  padding: 0 30px;
  background-color: transparent;
  border-radius: 3px;
}

div.stats {
  margin: 0 auto !important; }
  div.stats .wrapper {
    display: flex; }
  div.stats #player1 {
    text-align: center;
    display: inline-block;
    width: 50%;
    float: left;
    background-color: #B93848;
    box-sizing: border-box;
    padding: 0 15px 20px;
    border-top-left-radius: 3px;
    color: #232621; }
    div.stats #player1 .capturedPiece {
      width: 2.4vmin;
      height: 2.4vmin;
      background-color: #232621;
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6vmin;
      display: inline-block;
      box-sizing: border-box;
      transition: all 0.2s linear;
      margin: 5px; }
  div.stats #player2 {
    text-align: center;
    display: inline-block;
    width: 50%;
    float: left;
    background-color: #232621;
    box-sizing: border-box;
    padding: 0 15px 20px;
    border-top-right-radius: 3px;
    color: #B93848; }
    div.stats #player2 .capturedPiece {
      width: 2.4vmin;
      height: 2.4vmin;
      background-color: #B93848;
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6vmin;
      display: inline-block;
      box-sizing: border-box;
      transition: all 0.2s linear;
      margin: 5px; }
  div.stats div.turn {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #BEEE62 50%, transparent 50%);
    border-radius: 0 0 3px 3px; }
  div.stats span#winner {
    display: block;
    padding: 10px 0 0;
    text-align: center; }
  div.stats button#cleargame {
  padding: 6px 10px;
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
  }
    div.stats button#cleargame:hover {
     background-color: #c82333; }

div#board {
 position: relative;
  margin: 20px auto;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #232621;
  background-color: #B93848;
  overflow: hidden;
}
 div#board .tile {
  width: 62.5px;
  height: 62.5px;
  position: absolute;
  background-color: #232621;
}
  div#board .player1pieces .piece,
div#board .player2pieces .piece {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 9999px;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.2s linear;
  margin-top: 6.25px;  /* (62.5 - 50) / 2 */
  margin-left: 6.25px;
  cursor: pointer;
}

div#board .player1pieces .piece {
  background-color: #e4a6ae;
  border: 6.25px solid #B93848;
}

div#board .player2pieces .piece {
  background-color: #F1F1FF;
  border: 6.25px solid #8b8bff;
}

div#board .player1pieces .piece.selected,
div#board .player2pieces .piece.selected {
  box-shadow: 0 0 10px 5px #16A8C7;
}

select, input[type="number"] {
    padding: 5px;
    font-size: 16px;
    width: 80px;
  }

.stats > div:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 5px;
}

.stats > div:first-child label {
  margin-left: 18px;
  margin-top: 5px;
  font-weight: bold;
}

#skillLevel {
  width: 60px;
  text-align: center;
}

#cleargame {
padding: 8px 20px;
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
}

#cleargame:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/*# sourceMappingURL=style.css.map */
